@use 'sass:math';
@use 'open-props-scss' as op;
@use './tokens.scss' as *;
@use '@fontsource/sacramento/latin-400.css';
@import './mixins.scss';

:root {
	--accent-color: #{$teal-base};
	--accent-color-hover: #{$teal-8};
	--page-background: #{op.$stone-2};
	--surface: #{op.$gray-0};
	--card-surface: #fbfbfb;
	--tooltip-surface: white;
	--ink: #{op.$stone-10};
	--brand-font: Sacramento;
	--body-font: Lato;
	--shadow-strength: 10%;
    --shadow-color: 220 40% 2%;
	--shadow: #{op.$shadow-2};

	background-color: var(--page-background);
}

body {
	font-family: var(--body-font), sans-serif;
}

@media print {
	:root {
		--shadow: none;
	}
	.no-print {
		display: none !important;
	}
}

.capitalize-first-letter {
	display: block;
	&::first-letter {
		text-transform: uppercase;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: op.$size-5;
	margin-inline: auto;
	
	& > div {
		display: flex;
		flex-direction: column;
	}

	[type="submit"] {
		@include cta();
		@include with-loading-spinner();
		width: max-content;
		margin-inline: auto;
	}

	input {
		background-color: var(--card-surface);
		border: 1px solid op.$stone-7;
		border-radius: op.$radius-2;
		padding-block: math.div(op.$size-2, 2);
		padding-inline: op.$size-1;

		&:focus-visible {
			outline-offset: 0;
		}
	}

	label {
		font-size: op.$font-size-1;
		font-weight: op.$font-weight-7;

		&:has(+ :required)::after {
			display: inline-block;
			content: '*';
			content: '*' / '';
			color: op.$pink-9;
			margin-inline-start: 0.1rem;
			margin-block-end: -1rem;
		}
	}

	.error-message {
		display: block;
		color: op.$pink-9;
		font-weight: op.$font-weight-7;

		&:empty {
			display: none;
		}
	}
}