$teal-base: rgb(0, 199, 183);
$teal-dark: #01827F;
$teal-0: #ebfffd;
$teal-1: #c4fffa;
$teal-2: #9dfff7;
$teal-3: #76fff4;
$teal-4: #4efff1;
$teal-5: #27ffee;
$teal-6: #00ffea;
$teal-7: #00d8c6;
$teal-8: #00b1a2;
$teal-9: #00897e;
$teal-10: #00625a;
$teal-11: #003b36;
$teal-12: #001412;