---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<h1>Welcome to Infusion!</h1>
	<p class="instructions">
		To get started, open the directory <code>src/pages</code> in your project.<br />
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
