---
export interface Props {
	name: string;
};

const {name} = Astro.props;
---

<div>
	<dt>{name}</dt>
	<dd>
		<slot />
	</dd>
</div>

<style lang="scss">
	@use 'sass:math';
	@use 'open-props-scss' as op;
	@use '../styles/tokens.scss' as tokens;

	dt {
		font-size: math.div((op.$font-size-0 + op.$font-size-1), 2);
		font-weight: op.$font-weight-7;
		text-transform: uppercase;
	}

	dd {
		:global(a) {
			color: tokens.$teal-9;
			font-weight: op.$font-weight-7;
			text-decoration-thickness: 1px;

			&:not(:hover):not(:focus) {
				text-decoration: none;
			}
		}
	}
</style>