<nav aria-labelledby="quick-links-header">
	<h2 id="quick-links-header">Quick Links</h2>
	<ul>
		<li>
			<a href="/steeps/new/">Steep a Tea</a>
		</li>
		<li>
			<a href="/teas/new/">Add a Tea</a>
		</li>
		<li>
			<a href="/brands/new/">Add a Brand</a>
		</li>
	</ul>
</nav>

<style lang="scss">
	@use 'open-props-scss' as op;
	@use '../styles/tokens.scss' as tokens;
	@import '../styles/mixins.scss';

	nav {
		background-color: var(--surface);
		box-shadow: op.$shadow-2;
		border-radius: op.$radius-3;
		padding-block-start: op.$size-2;

		min-width: 16ch;
		max-height: 23.8ch;
	}

	h2 {
		font-size: op.$font-size-3;
		font-weight: op.$font-weight-7;
		padding-inline-start: op.$size-3;
		padding-block: op.$size-2;
	}
	
	li {
		@include fully-clickable();
		padding-inline-start: op.$size-3;
		padding-block: op.$size-3;
		border-block-start: 0.5px solid op.$stone-5;

		&:hover,
		&:focus-within {
			background-color: op.$stone-2;
		}

		&:last-of-type {
			border-end-end-radius: op.$radius-3;
			border-end-start-radius: op.$radius-3;
		}
	}

	a {
		color: var(--accent-color);
		font-weight: op.$font-weight-9;
		&:not(:hover):not(:focus) {
			text-decoration: none;
		}

		&:focus {
			outline: 2px solid transparent;
		}
	}
</style>
