---
import { changeLanguage, t } from "i18next";
import { getAllBrands } from "../../api/brands";
import { getTeasGroupedByBrands } from "../../api/teas";
import AddBrandCtaWell from "../../components/AddBrandCtaWell.astro";
import BrandCard from "../../components/BrandCard.astro";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");

const [brands, groupedTeas] = await Promise.all([
    getAllBrands(),
    getTeasGroupedByBrands()
]);
---

<Layout title={t('brandsPage.brands')}>
	<h1>{t('brandsPage.brands')}</h1>
	<ul class="card-list">
		{brands.map(brand => (
			<li>
				<BrandCard
					brand={brand}
					teas={groupedTeas[brand._id.toString()]}
				/>
			</li>
		))}
	</ul>
	<AddBrandCtaWell />
</Layout>

<style lang="scss">
	@use 'open-props-scss' as op;
	@use 'src/styles/tokens.scss' as tokens;
	
	.card-list {
		list-style: none;
		display: grid;
		--min: 30ch;
		grid-template-columns: repeat(
			auto-fill,
			minmax(
				min(100%, var(--min)),
				1fr
			));
		gap: op.$size-fluid-2 op.$size-fluid-3;
		margin-block: op.$size-fluid-2;
	}

	:global(.cta-well) {
		margin-block: op.$size-fluid-3;
	}
</style>