---
import '@fontsource/lato/400.css';
import '@fontsource/lato/700.css';
import '@fontsource/lato/900.css';
import '../styles/main.scss';
import NavBar from '../components/NavBar.astro';

export interface Props {
	title: string;
	prefetches?: URL[]
}

const { title, prefetches } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="prefetch" href="/">
		<link rel="prefetch" href="/teas/">
		{prefetches?.map(url => <link rel="prefetch" href={url} />)}
	</head>
	<body>
		<NavBar />
		<main>
			<slot />
		</main>
	</body>
</html>

<style lang="scss">
	@use 'open-props-scss' as op;

	main {
		background-color: var(--surface);
		box-shadow: var(--shadow);
		padding-block: op.$size-4;
		padding-inline: op.$size-5;
		
		@media (op.$md-n-above) {
			border-radius: op.$radius-2;
			margin: op.$size-4;
		}

		@media print {
			margin: 0 !important;
			padding: 0 !important;
		}
	}
</style>